<!DOCTYPE html>
<html> 
    <head>
        <meta charset="utf-8"> 
        <link rel="stylesheet" href="./css/welcome.css"/>
        <link rel="stylesheet" href="./css/global_rules.css">
    </head>
    <body>
        <div id="top">
            <img id="logo" src="../resources/img/logo.png" alt="logo">
        </div>
        <div id="main_div">
            <div id="options">
                <div class="button">
                    <a href="main_screen.html"><p>Accesos</p></a>
                </div>
                <div class="button">
                    <a href="user_consult.html"><p>Consultas</p></a>
                </div>
                <div class="button">
                    <a href="payments.html"><p>Pagos</p></a>
                </div>
                <div class="button">
                    <a href="users_login.html"><p>Usuarios</p></a>
                </div>
                <div class="button">
                    <a href="main_screen.html"><p>SUDO</p></a>
                </div>
            </div>
            <div id="content">
                <h1>Empleado: <%= employee_id %></h1>
                <div id="info_div">
                    <h3>Información del empleado: </h3>
                    <ul>
                        <li><p>Nombre: <%= employee_id %></p></li>
                        <li><p>Fecha de nacimiento: <%= birthday %></p></li>
                        <li><p>Dirección: <%= direction %></p></li>
                        <li><p>Sucursal: <%= nombre_1 %></p></li>
                        <li><p>Horario: <%= schedule %></p></li>
                        <li><p>Descanso: <%= rest %></p></li>
                        <li><p>Estatus: <%= status%></p></li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>